fastapi[standard]==0.115.5
pydantic==2.10.2
joblib==1.4.2
numpy==2.0.2
loguru
scikit-learn==1.5.1
requests==2.32.3
python-dotenv==1.0.0
uvicorn[standard]==0.32.0
pandas==2.2.0
python-multipart==0.0.12
